<template>
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-back-button>Home</v-ons-back-button>
            </div>
            <div class="center">Dose assessment</div>
            <!-- <div class="right">
                <v-ons-toolbar-button class="btnOk" icon="md-check"></v-ons-toolbar-button>
            </div> -->
        </v-ons-toolbar>
        <div class="grwrapper" :style="{flexDirection: flexDir}">
            <div style="flex-grow: 0">
                <v-ons-list>
                    <v-ons-list-item>
                        <div class="center grListItem">
                            <label for="intpath">Route of intake: </label>
                            <select id="intpath" class="text-input text-input--material" :value="calcPrm.intakePath"
                                @change="calcPrm.intakePath=$event.target.value">
                                <option value="Inhal">Inhalation</option>
                                <option value="Ingest">Ingestion</option>
                            </select>
                        </div>    
                    </v-ons-list-item>
                    <v-ons-list-item v-show="I132present || fetusPresent">
                        <div class="center grListItem">
                            <div class="grcheck" v-show="I132present">
                                <!-- <div class="grcheckbox"> -->
                                    <v-ons-checkbox
                                        input-id="idUsI132"
                                        value="I132"
                                        v-model="calcPrm.useI132">
                                    </v-ons-checkbox>
                                <!-- </div> -->
                                <!-- <div class="grchecklabel"> -->
                                    <label for="idUsI132">
                                        use I-132 data
                                    </label>
                                <!-- </div> -->
                            </div>
                            <div class="grcheck" v-show="fetusPresent">
                                <!-- <div class="grcheckbox"> -->
                                    <v-ons-checkbox
                                        input-id="idFetus"
                                        value="Fetus"
                                        v-model="calcPrm.calcFetus">
                                    </v-ons-checkbox>
                                <!-- </div> -->
                                <!-- <div class="grchecklabel"> -->
                                    <label for="idFetus">
                                        calculate foetus doses
                                    </label>
                                <!-- </div>     -->
                            </div>
                        </div>
                    </v-ons-list-item>
                    <v-ons-list-item>
                        <div class="center" style="justify-content: center">
                            <v-ons-button @click="onCalculate">
                                Calculate
                            </v-ons-button>
                            <v-ons-segment :index.sync="segmentIndex" style="width: 180px; text-align: center;">
                                <button><v-ons-icon class="btnRadio" size="26px" icon="fa-chart-line"></v-ons-icon></button>
                                <button><span style="color: blue;font-weight: bold">Dose</span></button>
                            </v-ons-segment>
                        </div>
                    </v-ons-list-item> 
                </v-ons-list>
            </div>    
            <div v-if="segmentIndex===1" class="grcontainer">
                <v-ons-list>
                    <v-ons-list-item>
                        <span class="grRNname">Dose</span>
                        <span class="grDoseVal"> Value</span>
                    </v-ons-list-item>
                    <v-ons-list-item expandable 
                        :expanded.sync="isExpanded.MOP[dt]"
                        v-for="(doses,dt) in calcTotalResults.MOP"
                        :key="'MOP'+dt">
                        <span class="grRNname">{{doseNames.MOP[dt]}}</span>
                        <span class="grDoseVal">{{doses.Total.toExponential(1)}}</span>
                        <div class="expandable-content">                    
                            <v-ons-list>
                                <v-ons-list-item 
                                    v-for="(RNname, RN) in RNlist"
                                    :key="'MOP'+dt+RN">
                                    <span class="grRNname">{{RNname}}</span> 
                                    <span class="grDoseVal">{{calcTotalResults.MOP[dt][RN].toExponential(1)}}</span>
                                </v-ons-list-item>
                            </v-ons-list>
                        </div>
                    </v-ons-list-item>    
                    <v-ons-list-item expandable 
                        v-show="calcPrm.calcFetus"
                        :expanded.sync="isExpanded.Fetus[dt]"
                        v-for="(doses,dt) in calcTotalResults.Fetus"
                        :key="'Fetus'+dt">
                        <span class="grRNname" v-html="doseNames.Fetus[dt]"></span>
                        <span class="grDoseVal">{{doses.Total.toExponential(1)}}</span>
                        <div class="expandable-content">                    
                            <v-ons-list>
                                <v-ons-list-item 
                                    v-for="(RNname, RN) in RNlist"
                                    :key="'Fetus'+dt+RN">
                                    <span class="grRNname">{{RNname}}</span> 
                                    <span class="grDoseVal">{{calcTotalResults.Fetus[dt][RN].toExponential(1)}}</span>
                                </v-ons-list-item>
                            </v-ons-list>
                        </div>
                    </v-ons-list-item>    
                </v-ons-list>


                    <!-- <v-ons-list-item>
                        <span class="grRNname">Thyroid (30d), Gy</span>
                        <span class="grDoseVal">{{(calcResults['I131']['MOP'].dose*1000).toExponential(1)}}</span>
                        <span v-show="calcPrm.useI132" class="grDoseVal">{{(calcResults['I132']['MOP'].dose*1000).toExponential(1)}}</span>
                    </v-ons-list-item>
                    <v-ons-list-item>
                        <span class="grRNname">Thyroid (70y), Gy</span> 
                        <span class="grDoseVal">{{(getDoseOfType('I131',calcParams.intakePath,'MOP','Th')*1000).toExponential(1)}}</span>
                        <span v-show="calcPrm.useI132" class="grDoseVal">{{(getDoseOfType('I132',calcParams.intakePath,'MOP','Th')*1000).toExponential(1)}}</span>
                    </v-ons-list-item>
                    <v-ons-list-item>
                        <span class="grRNname">Effective dose, Sv</span> 
                        <span class="grDoseVal">{{(getDoseOfType('I131',calcParams.intakePath,'MOP','Eff')*1000).toExponential(1)}}</span>
                        <span v-show="calcPrm.useI132" class="grDoseVal">{{(getDoseOfType('I132',calcParams.intakePath,'MOP','Eff')*1000).toExponential(1)}}</span>
                    </v-ons-list-item>
                    <v-ons-list-item v-show="calcPrm.calcFetus">
                        <span class="grRNname">Fetal thyroid <br>(at term), Gy</span> 
                        <span class="grDoseVal">{{(calcResults['I131']['Fetus'].dose*1000).toExponential(1)}}</span>
                        <span v-show="calcPrm.useI132" class="grDoseVal">{{(calcResults['I132']['Fetus'].dose*1000).toExponential(1)}}</span>
                    </v-ons-list-item>
                    <v-ons-list-item v-show="calcPrm.calcFetus">
                        <span class="grRNname">Fetal thyroid <br>(offspring 70y), Gy</span> 
                        <span class="grDoseVal">{{(getDoseOfType('I131',calcParams.intakePath,'Fetus','Th')*1000).toExponential(1)}}</span>
                        <span v-show="calcPrm.useI132" class="grDoseVal">{{(getDoseOfType('I132',calcParams.intakePath,'Fetus','Th')*1000).toExponential(1)}}</span>
                    </v-ons-list-item>
                    <v-ons-list-item v-show="calcPrm.calcFetus">
                        <span class="grRNname">Effective dose <br>(offspring), Sv</span> 
                        <span class="grDoseVal">{{(getDoseOfType('I131',calcParams.intakePath,'Fetus','Eff')*1000).toExponential(1)}}</span>
                        <span v-show="calcPrm.useI132" class="grDoseVal">{{(getDoseOfType('I132',calcParams.intakePath,'Fetus','Eff')*1000).toExponential(1)}}</span>
                    </v-ons-list-item>
                    <v-ons-list-item>
                        <span class="grRNname">Test</span> 
                        <span class="grDoseVal">{{calcTotalResults.th30.I131.toExponential(1)}}</span>
                        <span class="grDoseVal">{{calcTotalResults.th30.Te132.toExponential(1)}}</span>
                    </v-ons-list-item>
                </v-ons-list> -->
            </div>    
            <div  v-else class="grcontainer">
                <scatter-plot :styles="grspecStyles" :chartData="grchdata" :options="grchoptions"/>
            </div>
        </div>
    </v-ons-page>
</template>

<script>
import {mapGetters, mapMutations, mapActions} from 'vuex';
import moment from 'moment';


export default {
    data() {
        return {
            segmentIndex: 0,
            orientation: 0,
            RNlist: {I131: "I-131", I132: "I-132", I133: "I-133", I134: "I-134", I135: "I-135", Te132: "Te-132"},
            doseNames: { 
                MOP: {
                    th30: "Thyroid (30d), Gy",
                    th70: "Thyroid (70y), Gy",
                    Eff:  "Effective dose, Sv"
                },
                Fetus: {
                    th30: "Fetal thyroid <br>(at term), Gy",
                    th70: "Fetal thyroid <br>(offspring 70y), Gy",
                    Eff:  "Effective dose <br>(offspring), Sv"
                }
            },
            isExpanded: {
                MOP: {
                    th30: false,
                    th70: false,
                    Eff: false
                },
                Fetus: {
                    th30: false,
                    th70: false,
                    Eff: false
                }
            },
            locPers: {           
                id: -1,
                name: '',
                surname: '',
                birthday: '2000-01-01',
                pregnant: false,
                fetAge: 0,
                sex: 'M',
                // intakePath: 'Inhal',
                measurements: [],
                intakeShape: [],
            },
            calcPrm: {
                useI132: false,
                calcFetus: false,
                intakePath: 'Inhal'
            },
            grspecStyles: {position: "absolute", top:0, bottom:0, left:0, right:0},
            grchoptions: {
                showLines: false,
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    line: {
                        fill: false
                    }
                },    
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            // bounds: 'dataset2',
                            min: '2018-12-12',
                            max: '2019-02-01'
                        },
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        // type: 'logarithmic',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Content in the thyroid gland, kBq'
                        },
                        ticks: {
                            // suggestedMin: 0,
                            // suggestedMax: 100,
                            min: 0,
                            max: 100
                        }
                    }]
                }
            }
        }
    },
    computed: {
        ...mapGetters('db', ['currentPerson']),
        ...mapGetters('calc', ['calcParams', 'calcResults', 'calcTotalResults']),
        flexDir() {
            return (this.orientation==0) ? 'column':'row';
        },
        measI131() {
            return this.currentPerson.measurements.filter((meas) => {
                return meas.meas_RN==='I131';
            });
        },
        measI132() {
            return this.currentPerson.measurements.filter((meas) => {
                return meas.meas_RN==='I132';
            });
        },
        I131present() {
            return (this.measI131.length>0);
        },
        I132present() {
            return (this.measI132.length>0);
        },
        minXval() {
            let res = 0;
            if (this.I131present) {
                res = moment(this.measI131[0].meas_date).valueOf();
            }
            if (this.I132present) {
                res = Math.min(res, moment(this.measI132[0].meas_date).valueOf());
            }
            res = moment(res).subtract(1, 'd').toISOString();
            return res;
        },
        maxXval() {
            let res = 0;
            if (this.I131present) {
                res = moment(this.measI131[this.measI131.length-1].meas_date).valueOf();
            }
            if (this.I132present) {
                res = Math.max(res, moment(this.measI132[this.measI132.length-1].meas_date).valueOf());
            }
            res = moment(res).add(1, 'd').toISOString();;
            return res;
        },
        fetusPresent() {
            return (this.locPers.sex=='F' && this.locPers.pregnant);
        },
        grchdata() {
            let val = { 
                datasets: []
            };
            let meas = this.currentPerson.measurements;
            if(meas.length>0) {
                this.grchoptions.scales.xAxes[0].time.min = this.minXval;
                this.grchoptions.scales.xAxes[0].time.max = this.maxXval;
                let min = Infinity;
                let max = -Infinity;
                for(let i=0; i<meas.length; i++) {
                    min = Math.min(min, meas[i].meas_val*(1-meas[i].meas_err/100));
                    max = Math.max(max, meas[i].meas_val*(1+meas[i].meas_err/100));
                }
                if (max>1) {max = Math.ceil(max)}
                if (min>1) {min = Math.floor(min)}
                this.grchoptions.scales.yAxes[0].ticks.max = max;
                this.grchoptions.scales.yAxes[0].ticks.min = min;
                if(this.I131present) {
                    meas = this.measI131;
                    val.datasets.push({
                        label: 'I-131',
                        borderColor: 'blue',
                        backgroundColor: 'blue',
                        data: [],
                        errorBars: {}
                    });
                    let datasetInd = val.datasets.length-1;
                    for(let i in meas) {
                        val.datasets[datasetInd].data.push({
                            x: meas[i].meas_date,
                            y: meas[i].meas_val
                        });
                        val.datasets[datasetInd].errorBars[i] = {'plus' : meas[i].meas_val*meas[i].meas_err/100, 'minus' : -meas[i].meas_val*meas[i].meas_err/100};
                    }
                }
                if(this.I132present && this.calcPrm.useI132) {
                    meas = this.measI132;
                    val.datasets.push({
                        label: 'I-132',
                        borderColor: 'red',
                        backgroundColor: 'red',
                        data: [],
                        errorBars: {}
                    });
                    let datasetInd = val.datasets.length-1;
                    for(let i in meas) {
                        val.datasets[datasetInd].data.push({
                            x: meas[i].meas_date,
                            y: meas[i].meas_val
                        });
                        val.datasets[datasetInd].errorBars[i] = {'plus' : meas[i].meas_val*meas[i].meas_err/100, 'minus' : -meas[i].meas_val*meas[i].meas_err/100};
                    }
                }
                if(this.calcResults.calculated) {
                    // console.log('results output starting');
                    if (this.calcResults['I131']['MOP'].approximation.length>0) {
                        val.datasets.push({
                            label: 'I-131 approximation',
                            borderColor: 'dodgerblue',
                            backgroundColor: 'dodgerblue',
                            pointRadius: 0,
                            showLine: true,
                            data: this.calcResults['I131']['MOP'].approximation
                        });
                    }
                    if (this.calcParams.useI132 && (this.calcResults['I132']['MOP'].approximation.length>0)) {
                        val.datasets.push({
                            label: 'I-132 approximation',
                            borderColor: 'crimson',
                            backgroundColor: 'crimson',
                            pointRadius: 0,
                            showLine: true,
                            data: this.calcResults['I132']['MOP'].approximation
                        });
                    }
                    // if (this.calcParams.useFetus && (this.calcResults['I131']['Fetus'].approximation.length>0)) {
                    //     val.datasets.push({
                    //         label: 'I-131 foetus',
                    //         borderColor: 'darkblue',
                    //         backgroundColor: 'darkblue',
                    //         pointRadius: 0,
                    //         showLine: true,
                    //         data: this.calcResults['I131']['Fetus'].approximation
                    //     });
                    // }
                    // if (this.calcParams.useI132 && this.calcParams.useFetus && (this.calcResults['I132']['Fetus'].approximation.length>0)) {
                    //     val.datasets.push({
                    //         label: 'I-132 foetus',
                    //         borderColor: 'darkred',
                    //         backgroundColor: 'darkred',
                    //         pointRadius: 0,
                    //         showLine: true,
                    //         data: this.calcResults['I132']['Fetus'].approximation
                    //     });
                    // }
                }
            }
            return val;
        }
    },
    methods: {
        ...mapMutations('calc', ['clearResTotal']),
        ...mapActions('calc', ['initCalcPrm', 'calcDose', 'calcApproximation', 'setInnerCalcParams', 'calcOtherDoses']),
        calcDoseandApprox(RN, pers) {
            this.calcDose({RN, pers});
            let aprPrm = {
                RN: RN,
                pers: pers,
                minXval: this.minXval,
                maxXval: this.maxXval
            }
            if(pers=='MOP') {
                this.calcApproximation(aprPrm);
            }
        },
        recalcApproximation() {
            let aprPrm = {
                RN: 'I131',
                pers: 'MOP',
                minXval: this.minXval,
                maxXval: this.maxXval
            }
            this.calcApproximation(aprPrm);
            if (this.calcParams.useI132) {
                aprPrm.RN = 'I132',
                this.calcApproximation(aprPrm);
            }
        },
        onCalculate() {
            let prm = {
                useI132: this.calcPrm.useI132,
                useFetus: this.calcPrm.calcFetus,
                intakePath: this.calcPrm.intakePath,
                birthday: this.locPers.birthday,
                ageFetus: this.locPers.fetAge,
                sex: this.locPers.sex,
                // dtAccident: new Date('2000-01-01T00:00'),
                measurements: this.locPers.measurements,
                IS: this.locPers.intakeShape
            }
            this.initCalcPrm(prm);
            this.calcDoseandApprox('I131', 'MOP');
            if (this.calcParams.useFetus) {
                this.calcDoseandApprox('I131', 'Fetus');
            }
            if (this.calcParams.useI132) {
                this.calcDoseandApprox('I132', 'MOP');
                if (this.calcParams.useFetus) {
                    this.calcDoseandApprox('I132', 'Fetus');
                }
            }
            this.calcOtherDoses();
        }
    },
    beforeMount() {
        Object.assign(this.locPers, this.currentPerson);
        this.calcPrm.useI132 = this.calcParams.useI132;
        this.calcPrm.calcFetus = this.calcParams.useFetus;
        this.calcPrm.intakePath = this.calcParams.intakePath;
        this.$ons.orientation.isPortrait() ? this.orientation=0 : this.orientation=1;
        this.$ons.orientation.on('change', (event) => { event.isPortrait ? this.orientation=0 : this.orientation=1 })
        if (this.calcResults.calculated) {
            this.setInnerCalcParams({firstDt: this.locPers.intakeShape[0].int_date, birthday: this.locPers.birthday, sex: this.locPers.sex, ageFetus: this.locPers.fetAge});
            this.recalcApproximation();
            this.calcOtherDoses();
        } else {
            this.clearResTotal();
        }
        // console.log('Orientation: ', this.orientation, this.calcPrm, this.calcParams);
    },
    beforeDestroy() {
        this.$ons.orientation.off();
    }
}
</script>

<style scoped>
.grcheck {
    padding: 10px;
}

/* .grcheck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 220px;
} */

/* .grcheckbox {
    min-width: 1ch;
    flex-basis: 3ch;
}

.grchecklabel {
    text-align: left;
    flex-basis: 18ch;
}

ons-list-item {
    height: 3em;
}

} */

.grwrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;
    height: 100%;
    /* padding-bottom: 32px; */
    box-sizing: border-box;
}


.grListItem {
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    /* display: flex; */
}

.grcontainer {
    position: relative;
    /* box-sizing: border-box; */
    /* height: 100%;
    width: 100%;  */
    flex-grow: 1;
    overflow-y: scroll;
} 

.grRNname {
    width: 16ch;
}

.grDoseVal {
    /* width: 12ch; */
    text-align: center;
    flex-grow: 1;
}

/* .btnOk {
  color: green;
} */

</style>
