<template>
     <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-back-button>Home</v-ons-back-button>
            </div>
            <div class="center">Dose per content functions</div>
        </v-ons-toolbar>
        <div class="grcontainer">
            <div class="grheader">
                <select class="text-input text-input--material" :value="selNuclide"
                        @change="selNuclide=$event.target.value">
                    <option value="I131">I-131</option>
                    <option value="I132">I-132</option>
                </select>
                <select class="text-input text-input--material" :value="selPath"
                        @change="selPath=$event.target.value">
                    <option value="Inhal">Inhalation</option>
                    <option value="Ingest">Ingestion</option>
                </select>
                <select class="text-input text-input--material" :value="selPerson"
                        @change="selPerson=$event.target.value">
                    <option value="MOP">MOP</option>
                    <option value="Fetus">Fetus</option>
                </select>
            </div>
            <!-- <scatter-plot options="choptions"/> -->
            <scatter-plot :styles="grspecStyles" :chartData="grchdata" :options="grchoptions"/>
        </div>    
     </v-ons-page>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
    data() {
        return {
            selNuclide: 'I131',
            selPath: 'Inhal',
            selPerson: 'MOP',
            grspecStyles: {position: "relative", width: "100%", height: "100%"},
            grColors: ['red', 'Magenta', 'cyan', 'green', 'maroon', 'blue', 'LightSeaGreen'],
            graphmin: 0,
            graphmax: 0
        }
    },
    computed: {
        ...mapGetters('calc',['getDPC']),
        DPCvals() {
            return this.getDPC(this.selNuclide, this.selPath, this.selPerson);
        },
        DPCheads() {
            if(this.selPerson === 'MOP') {
                return ['Infant', '1 year', '5 years', '10 years', '15 years', 'Adult male', 'Adult female']
            } else {
                return ['Conception', '5 weeks', '10 weeks',	'15 weeks',	'25 weeks',	'35 weeks'];
            }
        },
        grchoptions() {
            let val = {         
                showLines: false,
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    line: {
                        fill: false
                    }
                },    
                scales: {
                    xAxes: [{
                        type: 'logarithmic',
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: 'Time, days'
                        }
                    }],
                    yAxes: [{
                        type: 'logarithmic',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Dose per content in the thyroid gland, Gy per Bq'
                        },
                        ticks: {
                            min: this.graphmin,
                            max: this.graphmax,
                            callback: function(value, index, values) {
                                let v1 = Math.log10(value);
                                let v2 = Math.trunc(v1);
                                if (v1===v2) {
                                    return value.toExponential(0)
                                } else {
                                    return "";
                                }    
                            }
                        },
                    }]
                }
            }
            return val;
        },    
        grchdata() {
            let val = { datasets: [] };
            if (this.DPCvals) {
                let min=Infinity;
                let max=-Infinity;
                for(let i=0;i<this.DPCheads.length;i++) {
                    val.datasets.push({
                        label: this.DPCheads[i],
                        borderColor: this.grColors[i],
                        backgroundColor: this.grColors[i],
                        data: []
                    });
                    for(let j=0;j<this.DPCvals.length;j++) {
                        if(this.DPCvals[j][i+1]!=="-") {
                            val.datasets[i].data.push({
                                x: this.DPCvals[j][0],
                                y: this.DPCvals[j][i+1]
                            });
                            if (this.DPCvals[j][i+1]>max) {max = this.DPCvals[j][i+1]}
                            if (this.DPCvals[j][i+1]<min) {min = this.DPCvals[j][i+1]}
                        }    
                    }
                }
                min = Math.pow(10,Math.floor(Math.log10(min)));
                max = Math.pow(10,Math.ceil(Math.log10(max)));
                // this.grchoptions.scales.yAxes[0].ticks.min = min;
                // this.grchoptions.scales.yAxes[0].ticks.max = max;
                this.graphmin = min;
                this.graphmax = max;
            }
            return val;
        }
    }
}
</script>

<style scoped>
    .grcontainer {
        /* position: absolute;  */
        width: 100%;
        height: 100%;
        padding-bottom: 32px;
        box-sizing: border-box;
    }

    .grheader {
        height: 32px;
        display: flex;
        justify-content: space-around;
    }
</style>
