<template>
    <v-ons-page>
        <div class="grwrapper">
            <div class="grtoolbar">
                <select class="text-input text-input--material" 
                        :value="locIntake.int_RN"
                        @change="locIntake.int_RN=$event.target.value">
                    <option value="I131">I-131</option>
                    <option value="I132">Te-132</option>
                </select>
                <v-ons-segment :index.sync="segmentIndex" style="width: 180px; text-align: center; vertical-align: middle;">
                    <button><v-ons-icon class="btnRadio" size="26px" icon="fa-th"></v-ons-icon></button>
                    <button><v-ons-icon class="btnRadio" size="26px" icon="fa-chart-line"></v-ons-icon></button>
                </v-ons-segment>      
                <v-ons-button class="copyBtn" icon="md-copy"
                    @click="copyDefIS"></v-ons-button>
            </div>
            <div v-if="segmentIndex===0" class=grtable>
                <v-ons-list>
                    <v-ons-list-header style="display: flex">
                        <div class="left">
                        </div> 
                        <div class="center" style="display: flex; font-size: 1.2em;font-weight: bold; width: 100%">
                            <div style="flex-grow:1; text-align: center">Date/Time</div>
                            <div style="flex-grow:1; text-align: center">Value</div>
                        </div> 
                    </v-ons-list-header>
                    <v-ons-list-item 
                        v-for="(rec, ind) in ISlist"
                        :key="rec.int_date"
                        @click="onEditClick($event, rec)"
                        modifier="longdivider"
                        tappable
                        style="padding: 0px">
                        <div class="left" style="padding: 0px">
                            {{ind+1}}. 
                        </div> 
                        <div class="center" style="padding: 0px"> 
                            <div style="flex-grow:1; text-align: center">{{rec.int_date | formatDateTime}}</div>
                            <div style="flex-grow:1; text-align: center">{{rec.int_val}}</div>
                        </div>
                        <div class="right" style="padding: 0px">
                            <v-ons-button modifier="quiet" style="margin: 6px 0"
                                @click.stop="onModifyBtnClick($event, rec)">
                                <v-ons-icon icon="md-more-vert"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </v-ons-list-item>
                </v-ons-list>
            </div>
            <div v-else class="grcontainer">
                <scatter-plot :styles="grspecStyles" :chartData="grchdata" :options="grchoptions"/>
            </div>
        </div>     
        <v-ons-popover 
            class="custom_popup"
            cancelable
            :visible.sync="popoverBtnVisible"
            :target="popoverTarget"
            :direction="popoverDirection"
            :cover-target="coverTarget">
            <div class="vertflow">
                <v-ons-button  @click="onEdit">
                    <v-ons-icon icon="md-edit"> </v-ons-icon>
                    Edit
                </v-ons-button>
                <v-ons-button  class="btnbordered" @click="onDelete">
                    <v-ons-icon icon="md-delete"> </v-ons-icon>
                    Delete
                </v-ons-button>
                <v-ons-button  @click="popoverBtnVisible=false">
                    <v-ons-icon icon="ion-close"> </v-ons-icon>
                    Cancel
                </v-ons-button>
            </div>    
        </v-ons-popover>

        <v-ons-popover cancelable
            :visible.sync="popoverVisible"
            :target="popoverTarget"
            :direction="popoverDirection"
            :cover-target="coverTarget">
            <p style="text-align: center"> {{title}} </p>
            <div style="margin: 10px auto; text-align: center;">
                <span>Date/Time:</span> 
                <v-ons-input style="width: 100%; margin: 10px"
                    placeholder="Date/Time" type="datetime-local"
                    v-model="locIntake.int_date">
                </v-ons-input>
            </div>    
            <div style="margin: 10px auto; text-align: center;">
                <span>Relative intake level:</span> 
                <v-ons-input 
                    placeholder="value" type="number"
                    v-model="locIntake.int_val">
                </v-ons-input>
            </div>    
            <div style="display: flex;">
                <v-ons-button modifier="quiet" @click="onSave">
                    <v-ons-icon style="margin: 0 10px" icon="md-check"> </v-ons-icon>
                    Ok
                </v-ons-button>
                <v-ons-button modifier="quiet" @click="popoverVisible=false">
                    <v-ons-icon style="margin: 0 10px" icon="ion-close"> </v-ons-icon>
                    Cancel
                </v-ons-button>
            </div>    
        </v-ons-popover>
        <v-ons-fab position='bottom right' v-show="segmentIndex===0"
            @click="onAdd($event)">
            <v-ons-icon icon="md-plus"></v-ons-icon>
        </v-ons-fab>
    </v-ons-page>
</template>
<script>

import {mapGetters, mapMutations, mapActions} from 'vuex';
import moment from 'moment';
// import grutils from '../components/grutils';

export default {
    data() {
        return {
            segmentIndex: 0,
            popoverBtnVisible: false,
            popoverVisible: false,
            popoverTarget: null,
            popoverDirection: 'left',
            coverTarget: false,
            locIntake: {
                id: -1,
                pers_id: -1,
                int_RN: 'I131',
                int_date: '2000-01-01T00:00', 
                int_val: ''
            },
            grspecStyles: {position: "absolute", top: 0, bottom: 0, left: 0, right: 0},
            // grspecStyles: {position: "relative", width: "100%", height: "100%"},
            grchoptions: {
                showLines: true,
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    line: {
                        fill: false
                    }
                },    
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            min: '2018-12-12',
                            max: '2019-02-01'
                        },
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        // type: 'logarithmic',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Relative intake level'
                        }
                        // ticks: {
                            // suggestedMin: 0,
                            // suggestedMax: 100,
                        //     min: 0,
                        //     max: 100
                        // }
                    }]
                }
            }
        }
    },
    computed: {
        ...mapGetters('db', ['currentPerson']),
        ISlist() {
            return this.currentPerson.intakeShape.filter((rec) => {
                return rec.int_RN===this.locIntake.int_RN;
            });
        },
        title() {
            return this.isAdd ? 'Add intake point' : 'Edit intake point';
        },
        isAdd() {
            return (this.locIntake.id<0);
        },
        minXval() {
            let res = 0;
            if(this.ISlist.length>0) {
                res = this.ISlist[0].int_date;
                if(this.ISlist.length === 1) {
                    res = moment(res).subtract(1, 'd').toISOString();
                }
            }
            return res;
        },
        maxXval() {
            let res = 0;
            if (this.ISlist.length>0) {
                res = this.ISlist[this.ISlist.length-1].int_date;
                if(this.ISlist.length === 1) {
                    res = moment(res).add(1, 'd').toISOString();
                }
            }
            return res;
        },

        grchdata() {
            let val = { datasets: [] };
            let IS = this.ISlist;
            if (IS && IS.length>0) {
                this.grchoptions.scales.xAxes[0].time.min = this.minXval;
                console.log(this.grchoptions.scales.xAxes[0].time.min, this.minXval)
                this.grchoptions.scales.xAxes[0].time.max = this.maxXval;
                console.log(this.grchoptions.scales.xAxes[0].time.max, this.maxXval)

                val.datasets.push({
                    label: this.locIntake.int_RN.slice(0,1) + "-" + this.locIntake.int_RN.slice(1),
                    borderColor: 'blue',
                    backgroundColor: 'blue',
                    data: []
                });
                for(let i=0;i<IS.length;i++) {
                    val.datasets[0].data.push({
                        x: IS[i].int_date,
                        y: IS[i].int_val
                    });
                }
            }
            return val;
        }
    },
    methods: {
        ...mapActions('db',['addIntakeShapePoint', 'editIntakeShapePoint', 'deleteIntakeShapePoint', 'copyDefIntakeShapePoint', 'addPerson']),
        // ...mapMutations('db', ['clearCurrentIS']),
        onModifyBtnClick(event, rec) {
            Object.assign(this.locIntake, rec);
            this.popoverTarget = event;
            this.popoverDirection = 'left';
            this.coverTarget = false;
            this.popoverBtnVisible = true;
        },
        onEditClick(event, rec) {
            Object.assign(this.locIntake, rec);
            this.showEditPopup(event, 'left', true);
        }, 
        onEdit() {
            if(this.locIntake.id>=0) {
                this.popoverBtnVisible = false;
                this.showEditPopup(this.popoverTarget, 'left', false);
            }
        },
        onAdd(event) {
            if(this.currentPerson.id<0) {
                this.$ons.notification.confirm("Personal information is not saved to the database yet! Do you want to save it?", {buttonLabels: ['No', 'Yes']})
                    .then((response) => {
                        if(response) {
                            this.addPerson(null);
                            this.locIntake.id = -1;
                            this.showEditPopup(event, 'up', false);
                        } else {
                            return;
                        }
                    }
                );
            } else {
                this.locIntake.id = -1;
                this.showEditPopup(event, 'up', false);
            }
        },
        onDelete() {
            if(this.locIntake.id>=0) {
                this.popoverBtnVisible = false;
                this.deleteIntakeShapePoint(this.locIntake.id);
                this.locIntake.id = -1;
                // this.clearCurrentIS();
            }
        },
        onSave() {
            if (this.isAdd) {
                this.addIntakeShapePoint(this.locIntake);
            } else {
                this.editIntakeShapePoint(this.locIntake);
            }
            this.popoverVisible=false;
        },
        showEditPopup(target, direction, cover) {
            this.popoverTarget = target;
            this.popoverDirection = direction;
            this.coverTarget = cover;
            this.popoverVisible=true;
        },
        copyDefIS() {
            this.$ons.notification.confirm("Copy default values of intake shape? This operation will erase current values of intake shape function!")
                .then((response) => {
                    if(response) {
                        this.copyDefIntakeShapePoint({key: this.currentPerson.id, RN: this.locIntake.int_RN});
                    }
                }
            );
        }
    }
}
</script>

<style  scoped>

.vertflow {
    display: flex;
    flex-direction: column;
}

.custom_popup ons-button {
    color: blue;
    border: 1px solid blue;
    padding: 0 8px;
    color: blue;
    background-color: white;
    /* box-shadow */
}

.custom_popup ons-icon {
    margin-right: 10px;
}

.grwrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    /* padding-bottom: 32px; */
    box-sizing: border-box;
}

.grtoolbar{
    height: 32px; 
    text-align: center; 
    /* display: flex;  */
    /* justify-content: center;  */
    overflow: hidden;
    border-bottom: 1px solid #7E7E7E;
    position: relative;
}

.grcontainer {
    position: relative;
    /* box-sizing: border-box;
    height: 100%;
    width: 100%; */
    flex-grow: 1;
} 

.grtable {
    overflow-y:scroll;
}

.copyBtn {
    top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    color: blue;
}

</style>

<style>

.custom_popup .popover__content {
    width: 8rem;
}

.btnRadio {
    color: blue; 
    margin: 3px auto;
}

</style>