<template>
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button @click="$store.commit('splitter/toggle')">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center intro">IDose</div>
            <div class="right">
                <v-ons-toolbar-button icon="md-plus" @click="onAdd">
                    <!-- <v-ons-icon icon="md-plus"></v-ons-icon> -->
                </v-ons-toolbar-button>
                <v-ons-toolbar-button icon="md-search" @click="showSearch=!showSearch">
                    <!-- <v-ons-icon icon="md-search"></v-ons-icon> -->
                </v-ons-toolbar-button>
            </div>
        </v-ons-toolbar>
        <div v-show="showSearch" class="querybox">
            <v-ons-search-input class="query" placeholder="Search person" v-model="query"></v-ons-search-input>
            <v-ons-button icon="ion-close" modifier="quiet" class="querybtn" @click="closeQuery"></v-ons-button>
        </div>
        <div>
            <v-ons-list v-show="isAppActive">
                <v-ons-list-item 
                    v-for="(person, index) in personsList"
                    :key="person.id"
                    tappable 
                    @click="onClick(person.id)">
                    <div class="left">
                        <img class="list-item__thumbnail" :src="getImgSrc(person.id)">
                    </div>
                    <div class="center">
                        <span class="list-item__title">{{index+1}}. [id: {{person.id}}] {{person.name + ' ' + person.surname}}</span><span class="list-item__subtitle">{{person.phone}}</span>
                    </div>
                    <div class="right">
                        <v-ons-button modifier="quiet" style="margin: 6px 0"
                            @click.stop="onModifyBtnClick(person.id)">
                            <v-ons-icon icon="md-more-vert"></v-ons-icon>
                        </v-ons-button>
                    </div>    
                </v-ons-list-item>    
            </v-ons-list>    
        </div>    
        <v-ons-action-sheet
            :visible.sync="showAS"
            cancelable>
            <v-ons-action-sheet-button icon="md-edit" @click="onEdit">Edit</v-ons-action-sheet-button>
            <v-ons-action-sheet-button class="btnbordered" icon="md-delete" modifier="destructive" @click="onDelete">Delete</v-ons-action-sheet-button>
            <v-ons-action-sheet-button icon="ion-close" @click="showAS=false">Cancel</v-ons-action-sheet-button>
        </v-ons-action-sheet>
    </v-ons-page>
</template>
<script>

import PersonEdit from './PersonEdit.vue';
import {mapGetters, mapMutations, mapActions} from 'vuex';

export default{
    data(){
        return {
            showAS: false,
            currentPersonKey: -1,
            showSearch: false,
            query: '',
            // imgSuffix: new Date()
        }
    },            
    computed: {
        ...mapGetters(['isAppActive', 'imgPrefix']),
        ...mapGetters('db', ['persons']),
        ...mapGetters('datafiles', ['photoDir']),
        personsList() {
            let pers = Object.values(this.persons);
            if (this.showSearch) {
                return pers.filter((rec) => {
                    let str = rec.id + ' ' + rec.name + ' ' + rec.surname;
                    let re = new RegExp(this.query, 'i');
                    return re.test(str);
                });
            } else {
                return pers;
            }
            
        },
    },
    methods: {
        ...mapMutations('navigator', ['push']),
        ...mapMutations('db', ['clearCurrentPerson']),
        ...mapActions('db', ['getPerson', 'deletePerson']),
        onClick(key){
            this.currentPersonKey = key;
            this.getPerson(this.currentPersonKey);
            this.push(PersonEdit);
            this.showAS = false;
        },
        onModifyBtnClick(key) {
            this.currentPersonKey = key;
            this.showAS = true;
        },
        onEdit() {
            if(this.currentPersonKey>=0) {
                this.getPerson(this.currentPersonKey);
                this.push(PersonEdit);
                this.showAS = false;
            }
        },
        onAdd() {
            this.currentPersonKey = -1;
            this.clearCurrentPerson();
            this.push(PersonEdit);
        },
        onDelete() {
            if(this.currentPersonKey>=0) {
                this.deletePerson(this.currentPersonKey);
                this.currentPersonKey = -1;
                this.showAS = false;
            }
        },
        closeQuery() {
            this.showSearch=false;
            this.query='';
        },
        getImgSrc(id) {
            return this.isAppActive ? this.photoDir.nativeURL + 'id_' + id + '.jpg?time=' + this.imgPrefix : ''
        }
    }
}
</script>

<style scoped>
.querybox {
    display: flex;
    align-items: stretch;
}
.query {
    flex-grow: 1;
    /* height: 1.5em; */
}
.querybtn {
    line-height: 46px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24), 0 1px 0 0 rgba(255, 255, 255, .06) inset;
}
.intro {
    text-align: center;
}

.btnbordered {
    border-bottom: 5px solid;
}

</style>