<template>
    <v-ons-page @init="onInit">
        <v-ons-toolbar>
            <div class="left">
                <v-ons-back-button>Home</v-ons-back-button>
            </div>
            <div class="center">{{title}}</div>
            <div class="right">
                <v-ons-toolbar-button class="btnOk" icon="md-check" @click="onSave"></v-ons-toolbar-button>
            </div>
        </v-ons-toolbar>
        <div class=grcontainer>
            <div>
                <select class="text-input text-input--material" 
                    :value="locMeas.meas_RN"
                    @change="locMeas.meas_RN=$event.target.value">
                    <option value="I131">I-131</option>
                    <option value="I132">I-132</option>
                </select>
            </div>
            <div>
                <span>Date of measurement:</span> 
                <v-ons-input 
                    placeholder="Date of measurement" type="datetime-local"
                    v-model="locMeas.meas_date">
                </v-ons-input>
            </div>
            <div>
                <fieldset>
                    <legend>Measurement</legend>
                    <div class="measurement">
                        <div class="grinput">
                            <v-ons-input 
                                placeholder="value, kBq" float type="number"
                                v-model="locMeas.meas_val">
                            </v-ons-input>
                        </div>
                        &#x00B1;
                        <div class="grinput">
                            <v-ons-input 
                                placeholder="error, %" float type="number"
                                v-model="locMeas.meas_err">
                            </v-ons-input>
                        </div>,
                        <div class="grinput">
                            <v-ons-input 
                                placeholder="MDA, kBq" float type="number"
                                v-model="locMeas.meas_MDA">
                            </v-ons-input>
                        </div>
                    </div>    
                </fieldset>
            </div>    
            <div>
                <fieldset>
                    <legend>Location</legend>
                    <div class="coord-val-grp">
                        <div class="grinput">
                            <v-ons-input 
                                placeholder="Latitude" float type="number"
                                v-model="locMeas.lat">
                            </v-ons-input>
                        </div>
                        <div class="grinput">
                            <v-ons-input 
                                placeholder="Longitude" float type="number"
                                v-model="locMeas.lon">
                            </v-ons-input>
                        </div>
                        <v-ons-button style="height: 32px" @click="onGetPosition">
                            <v-ons-icon icon="fa-map-marker-alt"></v-ons-icon>
                        </v-ons-button>
                    </div>    
                </fieldset>        
            </div>
        </div>    
        <v-ons-alert-dialog modifier="rowfooter"
            :title="'Geolocation error'"
            :footer="{
                Ok: () => alertGeolocationVisible = false
            }"
            :visible.sync="alertGeolocationVisible"
            >
            Please, turn on the geolocation service.
        </v-ons-alert-dialog>
    </v-ons-page>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
import moment from 'moment';

export default {
    data() {
        return {
            locMeas: {
                id: -1,
                pers_id: -1,
                meas_date: moment().format('YYYY-MM-DDTHH:mm'),
                lat: '', 
                lon: '',
                meas_RN: 'I131',
                meas_val: '', 
                meas_err: '', 
                meas_MDA: ''
            },
            alertGeolocationVisible: false
        };
    },
    computed: {
        ...mapGetters('db', ['currentMeasurement']),
        isAdd() {
            console.log(this.locMeas.meas_date);
            return (this.currentMeasurement.id<0) ;
        },
        title() {
            return this.isAdd ? 'Add measurement' : 'Edit measurement';
        }
    },
    methods: {
        ...mapActions('db',['addMeasurement','editMeasurement']),
        onInit() {
            if(this.currentMeasurement.id>0) {
                Object.assign(this.locMeas, this.currentMeasurement);
            }
        },
        onSave() {
            if (this.isAdd) {
                this.addMeasurement(this.locMeas);
            } else {
                this.editMeasurement(this.locMeas);
            }
            this.$store.commit('navigator/pop');
        },
        onGetPosition() {
            let opt = {timeout: 10000, enableHighAccuracy: true};
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    this.locMeas.lat = position.coords.latitude;
                    this.locMeas.lon = position.coords.longitude;
                }, 
                (error) => {
                    console.log('Geolocation error' + error.message);
                    this.alertGeolocationVisible = true;
                }, opt);
        }
    }
}
</script>

<style scoped>
.grcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.grcontainer > div {
    margin: 0px auto;
    padding: 4px 0;
    text-align: center;
    box-sizing: border-box;
}

.measurement {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.grinput {
    max-width: 15ch;
    margin: 20px 5px 10px;
    flex: 1 1 8ch;
}

.coord-val-grp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btnOk {
  color: green;
}

</style>
