<template>
    <v-ons-page>
        <v-ons-list>
            <v-ons-list-header>
                Menu
            </v-ons-list-header>
            <v-ons-list-item v-for="item in items" :key="item.title" tappable
            modifier="$ons.platform.isAndroid()? 'nodivider': ''"
            @click="onClick(item.page)"
            >
                <div class="left">
                    <v-ons-icon :icon="item.icon"></v-ons-icon>
                </div>
                <div class="center">{{item.title}}</div>
            </v-ons-list-item>
        </v-ons-list>
    </v-ons-page>
</template>
<script>
import About from './About.vue';
import DPCview from './DPCview.vue';
import Settings from './Settings.vue';

export default{
    data(){
        return{
            items: [
                {title: "Settings", icon:"ion-gear-a", page: Settings},
                {title: "DPC", icon:"md-grid", page: DPCview},
                {title: "About", icon:"ion-ios-book", page: About}
                // {title: "Contact", icon:"ion-ios-email", page: ""},
            ]
        }
    },
    methods: {
        page_push(page){
            this.$store.commit('splitter/toggle');
            this.$store.commit('navigator/push', page);
        },
        onClick(page) {
            if(page) { this.page_push(page) }
        }
    }
}
</script>