<template>
    <!-- <v-ons-page @init="onInit"> -->
    <v-ons-page>
        <v-ons-toolbar style="height: 32px" class="grcustomtoolbar">
            <div class="center" style="text-align: center;line-height: normal;">    
                <v-ons-segment :index.sync="segmentIndex" style="width: 180px; text-align: center;">
                    <button><v-ons-icon class="btnRadio" size="26px" icon="fa-th"></v-ons-icon></button>
                    <button><v-ons-icon class="btnRadio" size="26px" icon="fa-chart-line"></v-ons-icon></button>
                </v-ons-segment>
            </div>
        </v-ons-toolbar>
        <div class="grcontainer" v-if="segmentIndex===0">
            <v-ons-list class="grcustomexpLI">
                <v-ons-list-header style="display: flex">
                    <div class="left">
                    </div> 
                    <div class="center grlisttitle">
                        <div>Date/Time</div>
                        <div>Value</div>
                    </div> 
                </v-ons-list-header>
                <v-ons-list-item expandable :expanded.sync="isI131Expanded">
                    I-131
                    <div class="expandable-content">                    
                        <v-ons-list>
                            <v-ons-list-item tappable class="grcustomLI"
                                v-for="(meas, index) in measI131"
                                :key="meas.meas_date"
                                @click="onClick(meas.id, meas.meas_RN, index)">
                                <div class="left">{{index+1}}. </div>
                                <div class="center">
                                    <div class="grdateflex">
                                        <div>{{meas.meas_date | formatDate}}</div>
                                        <div>{{meas.meas_date | formatTime}}</div>
                                    </div>  
                                    <div class="grmeasval-inner">
                                        <div>{{meas.meas_val}} kBq &#x00B1; {{meas.meas_err}}%,</div>
                                        <div>MDA={{meas.meas_MDA}}kBq</div>
                                    </div>      
                                </div>
                                <div class="right">
                                    <v-ons-button modifier="quiet" style="margin: 6px 0"
                                        @click.stop="onModifyBtnClick(meas.id, meas.meas_RN, index)">
                                        <v-ons-icon icon="md-more-vert"></v-ons-icon>
                                    </v-ons-button>
                                </div>
                            </v-ons-list-item>
                        </v-ons-list>
                    </div>
                </v-ons-list-item>
                <v-ons-list-item v-show="I132present" expandable :expanded.sync="isI132Expanded">
                    I-132
                    <div class="expandable-content">                    
                        <v-ons-list>
                            <v-ons-list-item tappable class="grcustomLI"
                                v-for="(meas, index) in measI132"
                                :key="meas.meas_date"
                                @click="onClick(meas.id, meas.meas_RN, index)">>
                                <div class="left">{{index+1}}. </div>
                                <div class="center">
                                    <div class="grdateflex">
                                        <div>{{meas.meas_date | formatDate}}</div>
                                        <div>{{meas.meas_date | formatTime}}</div>
                                    </div>
                                    <div class="grmeasval-inner">
                                        <div>{{meas.meas_val}}kBq &#x00B1; {{meas.meas_err}}%,</div>
                                        <div>MDA={{meas.meas_MDA}}kBq</div>
                                    </div>      
                                </div>
                                <div class="right">
                                    <v-ons-button modifier="quiet" style="margin: 6px 0"
                                        @click.stop="onModifyBtnClick(meas.id, meas.meas_RN, index)">
                                        <v-ons-icon icon="md-more-vert"></v-ons-icon>
                                    </v-ons-button>
                                </div>
                            </v-ons-list-item>
                        </v-ons-list>
                    </div>
                </v-ons-list-item>
            </v-ons-list>
            <v-ons-action-sheet
                :visible.sync="showAS"
                cancelable>
                <v-ons-action-sheet-button icon="md-edit" @click="onEdit">Edit</v-ons-action-sheet-button>
                <v-ons-action-sheet-button class="btnbordered" icon="md-delete" modifier="destructive" @click="onDelete">Delete</v-ons-action-sheet-button>
                <v-ons-action-sheet-button icon="ion-close" @click="showAS=false">Cancel</v-ons-action-sheet-button>
            </v-ons-action-sheet>
        </div>
        <div class="grcontainer" v-else>
            <scatter-plot :styles="grspecStyles" :chartData="grchdata" :options="grchoptions"/>
        </div>
        <v-ons-fab position='bottom right' v-show="segmentIndex===0"
            @click="onAdd">
            <v-ons-icon icon="md-plus"></v-ons-icon>
        </v-ons-fab>
    </v-ons-page>
</template>

<script>
import MeasEdit from './MeasEdit.vue';
import {mapGetters, mapMutations, mapActions} from 'vuex';
import { isNumber } from 'util';
import moment from 'moment';

export default {
    data() {
        return {
            isI131Expanded: false,
            isI132Expanded: false,
            currentMeasurementId: -1,
            currentMeasRecIndex: -1,
            currentRN: 'I131',
            segmentIndex: 0,
            showAS: false,
            grspecStyles: {position: "relative", width: "100%", height: "100%"},
            grchoptions: {
                showLines: false,
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    line: {
                        fill: false
                    }
                },    
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            // bounds: 'dataset2',
                            min: '2018-12-12',
                            max: '2019-02-01'
                        },
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: 'Time of measurement'
                        }
                    }],
                    yAxes: [{
                        // type: 'logarithmic',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Content in the thyroid gland, kBq'
                        },
                        ticks: {
                            // suggestedMin: 0,
                            // suggestedMax: 100,
                            min: 0,
                            max: 100
                        }
                    }]
                }
            }
        }
    },
    computed: {
        ...mapGetters('db', ['currentPerson', 'currentMeasurement']),
        measI131() {
            return this.currentPerson.measurements.filter((meas) => {
                return meas.meas_RN==='I131';
            });
        },
        measI132() {
            return this.currentPerson.measurements.filter((meas) => {
                return meas.meas_RN==='I132';
            });
        },
        I131present() {
            return (this.measI131.length>0);
        },
        I132present() {
            return (this.measI132.length>0);
        },
        minXval() {
            let res = 0;
            if (this.I131present) {
                res = moment(this.measI131[0].meas_date).valueOf();
            }
            if (this.I132present) {
                res = Math.min(res, moment(this.measI132[0].meas_date).valueOf());
            }
            res = moment(res).subtract(1, 'd').toISOString();
            return res;
        },
        maxXval() {
            let res = 0;
            if (this.I131present) {
                res = moment(this.measI131[this.measI131.length-1].meas_date).valueOf();
            }
            if (this.I132present) {
                res = Math.max(res, moment(this.measI132[this.measI132.length-1].meas_date).valueOf());
            }
            res = moment(res).add(1, 'd').toISOString();;
            return res;
        },
        grchdata() {
            let val = { 
                datasets: []
            };
            let meas = this.currentPerson.measurements;
            if(meas.length>0) {
                this.grchoptions.scales.xAxes[0].time.min = this.minXval;
                this.grchoptions.scales.xAxes[0].time.max = this.maxXval;
                let min = Infinity;
                let max = -Infinity;
                for(let i=0; i<meas.length; i++) {
                    min = Math.min(min, meas[i].meas_val*(1-meas[i].meas_err/100));
                    max = Math.max(max, meas[i].meas_val*(1+meas[i].meas_err/100));
                }
                if (max>1) {max = Math.ceil(max)}
                if (min>1) {min = Math.floor(min)}
                this.grchoptions.scales.yAxes[0].ticks.max = max;
                this.grchoptions.scales.yAxes[0].ticks.min = min;
                if(this.I131present) {
                    meas = this.measI131;
                    val.datasets.push({
                        label: 'I-131',
                        borderColor: 'blue',
                        backgroundColor: 'blue',
                        data: [],
                        errorBars: {}
                    });
                    let datasetInd = val.datasets.length-1;
                    for(let i in meas) {
                        val.datasets[datasetInd].data.push({
                            x: meas[i].meas_date,
                            y: meas[i].meas_val
                        });
                        val.datasets[datasetInd].errorBars[i] = {'plus' : meas[i].meas_val*meas[i].meas_err/100, 'minus' : -meas[i].meas_val*meas[i].meas_err/100};
                    }
                }
                if(this.I132present) {
                    meas = this.measI132;
                    val.datasets.push({
                        label: 'I-132',
                        borderColor: 'red',
                        backgroundColor: 'red',
                        data: [],
                        errorBars: {}
                    });
                    let datasetInd = val.datasets.length-1;
                    for(let i in meas) {
                        val.datasets[datasetInd].data.push({
                            x: meas[i].meas_date,
                            y: meas[i].meas_val
                        });
                        val.datasets[datasetInd].errorBars[i] = {'plus' : meas[i].meas_val*meas[i].meas_err/100, 'minus' : -meas[i].meas_val*meas[i].meas_err/100};
                    }
                }
            }
            return val;
        }
    },
    methods: {
        ...mapMutations('navigator', ['push']),
        ...mapMutations('db', ['clearCurrentMeasurement', 'fillCurrentMeasurement']),
        ...mapActions('db', ['getMeasurement','deleteMeasurement','addPerson']),
        onClick(measId, RN, ind){
            this.currentMeasurementId = measId;
            this.currentRN = RN;
            this.currentMeasRecIndex = ind;
            let rec = {};
            if (this.currentRN == 'I131') {
                rec = this.measI131[this.currentMeasRecIndex];
            } else {
                rec = this.measI132[this.currentMeasRecIndex];
            }
            this.fillCurrentMeasurement(rec);
            this.getMeasurement(this.currentMeasurementId);
            this.showAS = false;
            this.push(MeasEdit);
        },
        onModifyBtnClick(measId, RN, ind) {
            this.currentMeasurementId = measId;
            this.currentRN = RN;
            this.currentMeasRecIndex = ind;
            this.showAS = true;
        },
        onEdit() {
            if(this.currentMeasurementId>=0) {
                let rec = {};
                if (this.currentRN == 'I131') {
                    rec = this.measI131[this.currentMeasRecIndex];
                } else {
                    rec = this.measI132[this.currentMeasRecIndex];
                }
                this.fillCurrentMeasurement(rec);
                this.getMeasurement(this.currentMeasurementId);
                this.showAS = false;
                this.push(MeasEdit);
            }
        },
        onAdd() {
            if(this.currentPerson.id<0) {
                this.$ons.notification.confirm("Personal information is not saved to the database yet! Do you want to save it?", {buttonLabels: ['No', 'Yes']})
                    .then((response) => {
                        if(response) {
                            this.addPerson(null);
                            this.currentMeasurementId = -1;
                            this.clearCurrentMeasurement();
                            this.push(MeasEdit);
                        } else {
                            return;
                        }
                    }
                );
            } else {
                this.currentMeasurementId = -1;
                this.clearCurrentMeasurement();
                this.push(MeasEdit);
            } 
        },
        onDelete() {
            if (this.currentMeasurementId>=0) {
                this.deleteMeasurement(this.currentMeasurementId);
                this.currentMeasurementId = -1;
                this.clearCurrentMeasurement();
                this.showAS = false;
            }
        }
        // onInit() {
        //     this.isI131Expanded = true;
        // }
    }
}
</script>


<style scoped>
.grcustomLI {
    height: 46px;
}

.grdateflex {
    display: flex;
    flex-wrap: wrap;
    width:15ch;
    margin: 0px 5px;
    justify-content: space-around;
}

.grcustomexpLI .expandable-content {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.grmeasval-inner {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.grlisttitle {
    display: flex; 
    font-size: 1.2em;
    font-weight: bold; 
    width: 100%;
}

.grlisttitle div {
    flex-grow: 1; 
    text-align: center;
}
.grcontainer {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
} 

.grcustomexpLI v-ons-list-item {
    padding: 0px;
}

</style>

<style>

.grcustomLI .left {
    min-width: 20px;
    min-height: 42px;
    padding: 6px 0;

}

.grcustomLI .right {
    padding: 6px 0;
    min-height: 42px;
}

.grcustomLI .center {
    flex-wrap: nowrap;
    min-height: 42px;
    padding: 6px 0;
}

.grcustomtoolbar.toolbar.toolbar--material+.page__background {
    top: 32px;
}

.grcustomtoolbar.toolbar.toolbar--material+.page__background+.page__content {
    top: 32px;
}

</style>