<template>
    <v-ons-page>
        <!-- <v-ons-card style="height: 100%"> -->
            <div v-if="photoExists" class="photo" @click="takePhoto">                   
                <img :src="photoSrc" alt="Photo">
            </div>     
            <div v-else class="photo" @click="takePhoto">
                <v-ons-icon class="photoicon" icon="fa-camera"></v-ons-icon>
            </div>    
            <h3> Personal information </h3>
            <!-- <div class="grwrap"> -->
                <div class="grinput">
                    <v-ons-input 
                        placeholder="Name" float
                        v-model="name">
                    </v-ons-input>
                </div>    
                <div class="grinput">
                    <v-ons-input 
                        placeholder="Surname" float
                        v-model="surname">
                    </v-ons-input>
                </div>    
                <div class="grinput">
                    <v-ons-input 
                        placeholder="Birthday" float type="date"
                        v-model="birthday">
                    </v-ons-input>
                </div>
                <div class="grinput">
                    <div>
                        <select class="text-input text-input--material" :value="sex"
                                @change="onSexInput($event.target.value)"
                                >
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        <span class="text-input--material__label text-input--material__label--active">
                            Sex
                        </span>
                    </div>    
                </div>
                <div class="grinput" v-show="sex==='F'">
                    <v-ons-checkbox
                        input-id="idPregnant"
                        value="preg"
                        v-model="pregnant">
                    </v-ons-checkbox>
                    <label for="idPregnant">
                        is pregnant?
                    </label>
                </div>
                <div class="grinput" v-show="((sex==='F') && (pregnant[0]==='preg'))">
                    <v-ons-input 
                        placeholder="Gestational age (weeks)" float type="number"
                        v-model="fetAge">
                    </v-ons-input>
                </div>    
                <div class="grinput">
                    <v-ons-input 
                        placeholder="Phone" float type="tel"
                        v-model="phone">
                    </v-ons-input>
                </div>    
            <!-- </div> -->
        <!-- </v-ons-card>     -->
    </v-ons-page>
</template>

<script>

import {mapGetters} from 'vuex';

export default {
    data() {
        return {
            photoExists: false
        };
    },
    computed: {
        ...mapGetters('db', ['currentPerson', 'currentPhotoName']),
        ...mapGetters('datafiles', ['photoDir']),
        ...mapGetters(['imgPrefix']),
        name: {
            get: function () {
                return this.currentPerson.name;
            },
            set: function (newValue) {
                this.$store.commit('db/setName', newValue);
            }
        },
        surname: {
            get: function () {
                return this.currentPerson.surname;
            },
            set: function (newValue) {
                this.$store.commit('db/setSurname', newValue);
            }
        },
        birthday: {
            get: function () {
                // console.log(this.currentPerson.birthday)
                return this.currentPerson.birthday;
            },
            set: function (newValue) {
                this.$store.commit('db/setBirthday', newValue);
            }
        },
        sex() {
            return this.currentPerson.sex;
        },
        // sex: {
        //     get: function () {
        //         return this.currentPerson.sex;
        //     },
        //     set: function (newValue) {
        //         // alert(newValue)
        //         this.$store.commit('db/setSex', newValue);
        //     }
        // },
        pregnant: {
            get: function () {
                return (this.currentPerson.pregnant && this.currentPerson.pregnant>0) ? ['preg'] : [];
            },
            set: function (newValue) {
                let val = (newValue.length>0);
                this.$store.commit('db/setPregnant', val);
            }
        },
        fetAge: {
            get: function () {
                return this.currentPerson.fetAge;
            },
            set: function (newValue) {
                this.$store.commit('db/setFetAge', newValue);
            }
        },
        phone: {
            get: function () {
                return this.currentPerson.phone;
            },
            set: function (newValue) {
                this.$store.commit('db/setPhone', newValue);
            }
        },
        photoSrc() {
                // console.log(this.photoExists);
            if (this.photoExists) {
                return this.photoDir.nativeURL + this.currentPhotoName + '?time=' + this.imgPrefix;
            } else {
                return '';
            }
        }        
    },
    methods: {
        onSexInput(val) {
            this.$store.commit('db/setSex', val);
            // this.sex = val
        },
        checkPhoto() {
            if (this.currentPhotoName) {
                this.photoDir.getFile(this.currentPhotoName, {create: false}, 
                    (fileEntry) => {this.photoExists=true;}, 
                    (err) => {this.photoExists=false;}
                );
            } else {
                this.photoExists=false;
            }    
        },
        takePhoto() {
            let opts = {
                destinationType: Camera.DestinationType.FILE_URI,
                sourceType: Camera.PictureSourceType.CAMERA,
                mediaType: Camera.MediaType.PICTURE,
                encodingType: Camera.EncodingType.JPEG,
                cameraDirection: Camera.Direction.BACK,
                correctOrientation: true
                // targetWidth: 300
            };
           
            function errHandle(err) {
                console.log('Photo ERROR: ' + err);
            };

            navigator.camera.getPicture((imgURI) => {
                window.resolveLocalFileSystemURL(imgURI, (fileEntry) => {
                    fileEntry.moveTo(this.photoDir, '',
                        (imgFile) => {
                            this.$store.commit('db/setCurrentPhotoName', imgFile.name);
                            this.$store.commit('setImgPrefix');
                        }, errHandle);
                }, errHandle);
            }, errHandle, opts);
        }
    },
    watch: {
        currentPhotoName(newval, oldval) {
            // console.log(newval);
            this.checkPhoto();
            // this.photoDir.getFile(this.currentPhotoName, {create: false}, 
            //     (fileEntry) => {this.photoExists=true}, 
            //     (err) => {this.photoExists=false}
            // );
        }
    },
    beforeMount() {
        this.checkPhoto();
    }

}
</script>

<style scoped>
.photo {
    width: 40vmin;
    height: 40vmax;
    float: right;
    text-align: center;
    position: relative;
    margin: 10px;

}

.photoicon {
    font-size: 4em;
    margin-top: 20%;
}

.photo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
}

/* .up-label {
    position: relative;
    display: inline-block;
} */

/* .grwrap {
    display: flex;
    flex-wrap: wrap;
} */

.grinput {
    /* min-width: 50%; */
    margin: 10px 10px;
    /* flex-grow: 1; */
    /* flex-basis: 40%; */
    display: inline-block;
    max-width: 45%;
    /* background-color: aquamarine; */
}

/* .grinput div {
    display: inline-block;
    position: relative;
} */

</style>
