<template>
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-back-button>Home</v-ons-back-button>
            </div>
            <div class="center">{{title}}</div>
            <div class="right">
              <v-ons-toolbar-button icon="fa-calculator" @click="onCalculate"></v-ons-toolbar-button>
              <v-ons-toolbar-button class="btnOk" icon="md-check" @click="onSave"></v-ons-toolbar-button>
            </div>
        </v-ons-toolbar>
        <v-ons-tabbar swipeable position="top" 
            :tabs="tabs"
            :visible="true"
            :index.sync="activeIndex"
            modifier="top-border"
            >
        </v-ons-tabbar>
    </v-ons-page>
</template>

<script>
import PersonInfo from './PersonInfo.vue';
import PersonMeas from './PersonMeas.vue';
import IntakeShape from './IntakeShape.vue';
import Calculate from './Calculate.vue';
import {mapGetters, mapMutations, mapActions} from 'vuex';


export default {
  data() {
    return {
      activeIndex: 0,
      isNotSaved: true,
      tabs: [
        {
        //   icon: this.md() ? null : 'ion-home',
          label: 'Info',
          page: PersonInfo,
          key: "PersonInfo",
          // active: true
        },
        {
          // icon: this.md() ? null : 'ion-ios-bell',
          label: 'Measurements',
          page: PersonMeas,
          badge: 0,
          key: "PersonMeas"
        },
        {
          // icon: this.md() ? null : 'ion-ios-settings',
          label: 'Intake shape',
          page: IntakeShape,
          key: "PersonIntake"
        }
      ]
    };
  },
  beforeMount() {
    this.tabs[1].badge = this.measurementsCount;
  },
  computed: {
    ...mapGetters('db', ['currentPhotoName', 'currentPerson']),
    ...mapGetters('calc', ['calcParams', 'calcResults']),
    isAdd() {
      return (this.currentPerson.id < 0);
    },
    title() {
      return this.isAdd ? 'Add person' : 'Edit person';
    },
    measurementsCount() {
      return this.currentPerson.measurements.length;
    }
  },
  beforeDestroy() {
    if (this.isNotSaved && this.currentPhotoName) {
      if (!(/^id_/.test(this.currentPhotoName))) {
        this.deleteFile(this.currentPhotoName);
      }  
      this.$store.commit('db/setCurrentPhotoName', '');
    }
  },
  methods: {
    ...mapMutations('navigator', ['push']),
    ...mapActions('db', ['addPerson', 'editPerson']),
    ...mapActions('datafiles', ['deleteFile']),
    doSave() {
      let calcRes = this.calcResults;
      let calcs = null;
      if (calcRes.calculated) { 
        let calcPrm = this.calcParams;
        calcs = {calcPrm, calcRes}
      }
      if (this.isAdd) {
        this.addPerson(calcs);
      } else {
        this.editPerson(calcs);
      }
      this.isNotSaved = false;
      this.$store.commit('setImgPrefix');
    },
    onSave() {
      this.doSave();
      this.$store.commit('navigator/pop');
    },
    onCalculate() {
      this.push(Calculate);
    }
  },
  watch: {
    measurementsCount(newVal, oldVal) {
      this.tabs[1].badge = this.measurementsCount;
    }  
  }
}
</script>

<style scoped>

.btnOk {
  color: green;
}

</style>