<template>
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-back-button>Home</v-ons-back-button>
            </div>
            <div class="center">
                <span >
                    Settings
                </span>
            </div>
            <div class="right">
                <v-ons-toolbar-button class="btnAlarm" icon="fa-undo-alt" @click="onRebuildDatabase"></v-ons-toolbar-button>
                <v-ons-toolbar-button class="btnOk" icon="md-check" @click="onPrmSave"></v-ons-toolbar-button>
            </div>
        </v-ons-toolbar>
        <div class="grwrapper">
            <div style="margin: 15px auto; text-align: center;">
                <span style="color: blue; font-weight: bold;">Date of accident:</span> 
                <v-ons-input 
                    type="datetime-local"
                    v-model="dtAcc">
                </v-ons-input>
            </div>
            <div style="color: blue; font-weight: bold;margin: 10px auto; text-align: center">
                Default intake shape functions
            </div>
            <div class="grtoolbar">
                <select class="text-input text-input--material" 
                        :value="locIntake.int_RN"
                        @change="locIntake.int_RN=$event.target.value">
                    <option value="I131">I-131</option>
                    <option value="I132">Te-132</option>
                </select>
                <v-ons-segment :index.sync="segmentIndex" style="width: 180px; text-align: center; vertical-align: middle;">
                    <button><v-ons-icon class="btnRadio" size="26px" icon="fa-th"></v-ons-icon></button>
                    <button><v-ons-icon class="btnRadio" size="26px" icon="fa-chart-line"></v-ons-icon></button>
                </v-ons-segment>                    
            </div>
            <div v-if="segmentIndex===0" class=grtable>
                <v-ons-list>
                    <v-ons-list-header style="display: flex">
                        <div class="left">
                        </div> 
                        <div class="center" style="display: flex; font-size: 1.2em;font-weight: bold; width: 100%">
                            <div style="flex-grow:1; text-align: center">Date/Time</div>
                            <div style="flex-grow:1; text-align: center">Value</div>
                        </div> 
                    </v-ons-list-header>
                    <v-ons-list-item 
                        v-for="(rec, ind) in ISlist"
                        :key="rec.int_date"
                        @click="onEditClick($event, rec)"
                        modifier="longdivider"
                        tappable
                        style="padding: 0px">
                        <div class="left" style="padding: 0px">
                            {{ind+1}}. 
                        </div> 
                        <div class="center" style="padding: 0px"> 
                            <div style="flex-grow:1; text-align: center">{{rec.int_date | formatDateTime}}</div>
                            <div style="flex-grow:1; text-align: center">{{rec.int_val}}</div>
                        </div>
                        <div class="right" style="padding: 0px">
                            <v-ons-button modifier="quiet" style="margin: 6px 0"
                                @click.stop="onModifyBtnClick($event, rec)">
                                <v-ons-icon icon="md-more-vert"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </v-ons-list-item>
                </v-ons-list>
            </div>
            <div v-else class="grcontainer">
                <scatter-plot :styles="grspecStyles" :chartData="grchdata" :options="grchoptions"/>
            </div>
            <v-ons-popover 
                class="custom_popup"
                cancelable
                :visible.sync="popoverBtnVisible"
                :target="popoverTarget"
                :direction="popoverDirection"
                :cover-target="coverTarget">
                <div class="vertflow">
                    <v-ons-button  @click="onEdit">
                        <v-ons-icon icon="md-edit"> </v-ons-icon>
                        Edit
                    </v-ons-button>
                    <v-ons-button  class="btnbordered" @click="onDelete">
                        <v-ons-icon icon="md-delete"> </v-ons-icon>
                        Delete
                    </v-ons-button>
                    <v-ons-button  @click="popoverBtnVisible=false">
                        <v-ons-icon icon="ion-close"> </v-ons-icon>
                        Cancel
                    </v-ons-button>
                </div>    
            </v-ons-popover>

            <v-ons-popover cancelable
                :visible.sync="popoverVisible"
                :target="popoverTarget"
                :direction="popoverDirection"
                :cover-target="coverTarget">
                <p style="text-align: center"> {{title}} </p>
                <div style="margin: 10px auto; text-align: center;">
                    <span>Date/Time:</span> 
                    <v-ons-input style="width: 100%; margin: 10px"
                        placeholder="Date/Time" type="datetime-local"
                        v-model="locIntake.int_date">
                    </v-ons-input>
                </div>    
                <div style="margin: 10px auto; text-align: center;">
                    <span>Relative intake level:</span> 
                    <v-ons-input 
                        placeholder="value" type="number"
                        v-model="locIntake.int_val">
                    </v-ons-input>
                </div>    
                <div style="display: flex;">
                    <v-ons-button modifier="quiet" @click="onSave">
                        <v-ons-icon style="margin: 0 10px" icon="md-check"> </v-ons-icon>
                        Ok
                    </v-ons-button>
                    <v-ons-button modifier="quiet" @click="popoverVisible=false">
                        <v-ons-icon style="margin: 0 10px" icon="ion-close"> </v-ons-icon>
                        Cancel
                    </v-ons-button>
                </div>    
            </v-ons-popover>
            <v-ons-fab position='bottom right' v-show="segmentIndex===0"
                @click="onAdd($event)">
                <v-ons-icon icon="md-plus"></v-ons-icon>
            </v-ons-fab>
        </div>
    </v-ons-page>
</template>



<script>

import {mapGetters, mapMutations, mapActions} from 'vuex';
import moment from 'moment';
// import grutils from '../components/grutils';

export default {
    data() {
        return {
            dtAcc: '',

            segmentIndex: 0,
            popoverBtnVisible: false,
            popoverVisible: false,
            popoverTarget: null,
            popoverDirection: 'left',
            coverTarget: false,
            locIntake: {
                id: -1,
                int_RN: 'I131',
                int_date: '', 
                int_val: ''
            },
            locDefIS: [],
            grspecStyles: {position: "absolute", top: 0, bottom: 0, left: 0, right: 0},
            // grspecStyles: {position: "relative", width: "100%", height: "100%"},
            grchoptions: {
                showLines: true,
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    line: {
                        fill: false
                    }
                },    
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            min: '2018-12-12',
                            max: '2019-02-01'
                        },
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Relative intake level'
                        }
                    }]
                }
            }
        }
    },
    computed: {
        ...mapGetters('db', ['defaultIS']),
        ...mapGetters(['dtAccident']),
        ISlist() {
            return this.locDefIS.filter((rec) => {
                return rec.int_RN===this.locIntake.int_RN;
            }).sort((a,b) => {
                return moment(a.int_date).valueOf()-moment(b.int_date).valueOf()});
        },
        title() {
            return this.isAdd ? 'Add intake point' : 'Edit intake point';
        },
        isAdd() {
            return (this.locIntake.id<0);
        },
        grchdata() {
            let val = { datasets: [] };
            let IS = this.ISlist;
            if (IS && IS.length>0) {
                this.grchoptions.scales.xAxes[0].time.min = IS[0].int_date;
                this.grchoptions.scales.xAxes[0].time.max = IS[IS.length-1].int_date;
                val.datasets.push({
                    label: this.locIntake.int_RN.slice(0,1) + "-" + this.locIntake.int_RN.slice(1),
                    borderColor: 'blue',
                    backgroundColor: 'blue',
                    data: []
                });
                for(let i=0;i<IS.length;i++) {
                    val.datasets[0].data.push({
                        x: IS[i].int_date,
                        y: IS[i].int_val
                    });
                }
            }
            return val;
        }
    },
    methods: {
        ...mapActions('db',['savePrm', 'saveDefIS', 'fillDBDemo']),
        // ...mapMutations('db', ['clearCurrentIS']),
        onModifyBtnClick(event, rec) {
            Object.assign(this.locIntake, rec);
            this.popoverTarget = event;
            this.popoverDirection = 'left';
            this.coverTarget = false;
            this.popoverBtnVisible = true;
        },
        onEditClick(event, rec) {
            Object.assign(this.locIntake, rec);
            this.showEditPopup(event, 'left', true);
        }, 
        onEdit() {
            if(this.locIntake.id>=0) {
                this.popoverBtnVisible = false;
                this.showEditPopup(this.popoverTarget, 'left', false);
            }
        },
        onAdd(event) {
            this.locIntake.id = -1;
            this.showEditPopup(event, 'up', false);
        },
        onDelete() {
            if(this.locIntake.id>=0) {
                this.popoverBtnVisible = false;
                for(let i=0; i<this.locDefIS.length;i++) {
                    if(this.locDefIS[i].id == this.locIntake.id) {
                        this.locDefIS.splice(i,1);
                        break;
                    }    
                }
                // this.deleteDefISPoint(this.locIntake.id);
                this.locIntake.id = -1;
                this.renumberData();
                // this.clearCurrentIS();
            }
        },
        onSave() {
            if (this.isAdd) {
                // this.addDefISPoint(this.locIntake);
                let el = Object.assign({}, this.locIntake);
                el.id = this.locDefIS.length;
                this.locDefIS.push(el);
                // console.log(this.locIntake);
            } else {
                // this.editDefISPoint(this.locIntake);
                for(let i=0; i<this.locDefIS.length;i++) {
                    if(this.locDefIS[i].id == this.locIntake.id) {
                        Object.assign(this.locDefIS[i], this.locIntake);
                        break;
                    }    
                }
                // console.log(this.locIntake);
            }
            this.popoverVisible=false;
        },
        showEditPopup(target, direction, cover) {
            this.popoverTarget = target;
            this.popoverDirection = direction;
            this.coverTarget = cover;
            this.popoverVisible=true;
        },
        renumberData() {
            for(let int in this.locDefIS) {
                this.locDefIS[int].id = int;
            }
        },
        onPrmSave() {
            this.savePrm({dtAccident: this.dtAcc});
            this.saveDefIS(this.locDefIS);
            this.$store.commit('navigator/pop');
        },
        initData() {
            this.dtAcc = this.dtAccident;
            this.locDefIS = [];
            for (let int in this.defaultIS) {
                let el = Object.assign({}, this.defaultIS[int]);
                el.id=int;
                this.locDefIS.push(el);
            }
        },
        onRebuildDatabase() {
            this.fillDBDemo();
            
            this.initData();
        }
    },
    mounted() {
        this.initData();
    }
}
</script>

<style  scoped>

.vertflow {
    display: flex;
    flex-direction: column;
}

.custom_popup ons-button {
    color: blue;
    border: 1px solid blue;
    padding: 0 8px;
    color: blue;
    background-color: white;
    /* box-shadow */
}

.custom_popup ons-icon {
    margin-right: 10px;
}

.grwrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    /* padding-bottom: 32px; */
    box-sizing: border-box;
}

.grtoolbar{
    height: 32px; 
    text-align: center; 
    /* display: flex;  */
    /* justify-content: center;  */
    border-bottom: 1px solid #7E7E7E;
}

.grcontainer {
    position: relative;
    /* box-sizing: border-box;
    height: 100%;
    width: 100%; */
    flex-grow: 1;
} 

.grtable {
    overflow-y:scroll;
}

</style>

<style>

.custom_popup .popover__content {
    width: 8rem;
}

.btnRadio {
    color: blue; 
    margin: 3px auto;
}

.btnOk {
  color: green;
}

.btnAlarm {
    color: red;
}

</style>



